<!DOCTYPE html>
<html>
<head>

    <link href="./css/p2.css" rel="stylesheet">
    <link href="./css/grid.css" rel="stylesheet">

                                            <title>page 2</title>
</head>
<body>
    <div class="row">
        <h1>
            Netsolus
            </h1>
            </div>

    <fieldset>
        <legend>
            Password Setup
            </legend>
       
        <div class="row">
            <h3>
                <button>
                    <a href="confirmPw.html">
                        Set Up Two Step Authentication
                        </a>
                        </button>
                        </h3>
        <div>
            <p>
                Netsolus is moving to a 2-step authentication method to help ensure the privacy and security of our customers data
                </p>
                </div>
                </div>
        <div class="row">
            <h3>
                <button>
                    <a href="pwReset.html">
                        Forgot Password
                        </a>
                        </button>
                        </h3>
                        </div>
        <div class="row">
            <h3>
                <button>
                    <a href="authSetUp.html">
                        Change Password
                        </a>
                        </button>
                        </h3>
                        </div>
        </fieldset>
</body>
</html>